params {
   inputDir = "${projectDir}/fq"
   outputDir = "${projectDir}/results_main_sole_demo"
}

profiles {
    docker {
        docker.enabled         = true
        docker.runOptions = "--platform linux/x86_64"
        // above is for Apple's M chip compatibility
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        
    }
}

