params {
   inputDir = "${projectDir}/fq"
   paired_end = true
   remove_adapter = false
   filter_by_quality = false
   use_umi = false
}

profiles {
    docker {
        docker.enabled         = true
        docker.runOptions = "--platform linux/x86_64"
        // above is for Apple's M chip compatibility
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}
