params {
   inputDir = "${projectDir}/fq"
   paired_end = true
   remove_adapter = false
   filter_by_quality = false
   use_umi = false
}

profiles {
    docker {
        docker.enabled         = true
        // docker.runOptions = "--platform linux/x86_64" // if the image is built with arm64, specifying this lie cause the image undetectable by docker daemon: hukai916/rclone:0.1
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}
